<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name = "Excelr_Assignments" thread-count="3" parallel="tests" >

	<listeners>
		<listener class-name="testComponents.Listeners_Assignments" />
	</listeners>
	<test name="Module1">
		<classes>
			<class name="selenium_Module1.Assignment1" />
			<class name="selenium_Module1.Assignment2" />
		</classes>
	</test>
	
	<test  name="Module2">
		<classes>
			<class name="selenium_Module2.Assignment1" />
			<class name="selenium_Module2.Assignment2_3"/>
		</classes>
	</test>
	<test name="Module3">
		<classes>
			<class name="selenium_Module3.Assignment1" />
			<class name="selenium_Module3.Assignment2" />
			<class name="selenium_Module3.Assignment3" />
		</classes>
	</test>
	<test name="Module4">
		<classes>
			<class name="selenium_Module4.Assignment1" />
			<class name="selenium_Module4.Assignment2" />
		</classes>
	</test>
</suite> <!--
Suite -->
